
img {
    width: 70%;
    max-width: auto;
    border: none !important;
    margin-top: 0px !important;
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
    margin: auto;
  }

.tallimage {
    max-width: 20%;
    max-width: auto;
    border: none !important;
}

.reveal .slides section .bodytext{
    font-size: 10px;
}
