
img {
    width: 100%;
    border: none !important;
    margin-top: 0px !important;
}

/* img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    margin: auto;
  } */

.tallimage {
    width: 65%;
    border: none !important;
}

.reveal .slides section .bodytext{
    font-size: 10px;
}

.specialimage {
    width: 75%;
    border: none !important;
    margin-top: 0px !important;
}